.container {
  width: 500px;
  margin: 20px auto;
}

form {
  padding: 5px;
  background-color: indigo;
  color: #eee;
  margin-top: 8px;
}

label,
input,
button {
  display: block;
  margin-bottom: 3px;
  width: 100%;
}

input {
  height: 30px;
  background-color: #eee;
  padding: 0 5px;
}

button,
#reset {
  height: 35px;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: plum;
  margin-top: 35px;
  margin: 10px auto;
}

form .error:focus {
  border: 1px solid #ff0000;
}

form .error {
  color: #ff0000;
}
